<?xml version="1.0" encoding="utf-8"?>
<sentinelCache>
  <functions>
    <function methodName="GetUsersAndGroups" assembly="my.assembly" initialAddDelay="1" name="my.namespace.users" temporaryBlockDuration=".5" updateInterval="2" maximumSurvival="5">
      <parameters>
        <![CDATA[userId=59331]]>
      </parameters>
    </function>
    <function methodName="GetConfig" assembly="my.assembly" initialAddDelay="1" name="my.namespace.configs" temporaryBlockDuration=".5" updateInterval="2" maximumSurvival="5">
      <parameters>
        <![CDATA[app=,key=,userId=59331]]>
      </parameters>
    </function>
    <!-- Object Parameter example -->
    <function methodName="GetAliasGroups" assembly="Viacom.MediaServices.Biz" name="Viacom.MediaServices.Biz.Processors.UserProcessor" initialAddDelay="1" temporaryBlockDuration=".5" updateInterval="1" maximumSurvival="1">
      <parameters>
        <![CDATA[<root>
								<Key>SomeParameter</Key>
								<UserRpc assembly="my.assembly" namespace="my.namespace.users">
									<Groups>
										<Members>
											<Description>Test</Description>
											<DomainMember>Member</DomainMember>
											<Group>Some Group</Group>
											<IsSecurityGroup>true</IsSecurityGroup>
										</Members>
									</Groups>
									<FirstName>Gennady</FirstName>
									<LastName>Chernyak</LastName>
								</UserRpc>
							</root>]]>
      </parameters>
    </function>
    <!-- End Example -->
  </functions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</sentinelCache>